@font-face {
    font-family: 'FqDejaVuSans';
    src: url('../../resources/fonts/DejaVuSans.eot');
    src: url('../../resources/fonts/DejaVuSans.eot?#iefix') format('embedded-opentype'),
    url('../../resources/fonts/DejaVuSans.woff') format('woff'),
    url('../../resources/fonts/DejaVuSans.svg') format('svg'),
    url('../../resources/fonts/DejaVuSans.otf') format('otf'),
    url('../../resources/fonts/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 50px;
    background: no-repeat;
    background-color: #EEEEEE;
    font-family: 'FqDejaVuSans';
    font-size: 12px;
}

.ui-datatable thead th {
    font-family: 'FqDejaVuSans' !important;
    border-style: none!important;
    color: #000000;
    font-weight: normal;
}

.ui-state-default {
    box-shadow: none!important;
}

.navbar-inverse {
    background-color: #33a3c0;
    border-color: #000;
}

.lbl-color-df {
    color: #ffffff!important;
}

.ui-inputfield{
    font-weight: normal;
    margin: 0;
    outline: medium none;
    padding: 4px;
    width: 100%;
    font-family:FqDejaVuSans!important;
}

.forecastSiteDate
.ui-inputfield{
    width: 70%;
}

.ui-datatable-data
.ui-widget-content  {
    background-color: #EEEEEE;
    color: #000000;
    font-family: FqDejaVuSans!important;
}
.ui-outputlabel{
    font-family: FqDejaVuSans!important;
}

.color-btn-data-table{
    color: #ffffff!important;
}

.ui-widget {
    font-family: FqDejaVuSans!important;
    font-size: 12px;
}

textarea.form-control {
    height: inherit;
    overflow-y: scroll!important;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button{
    font-family: FqDejaVuSans!important;
    font-size: 12px;
}
.ui-widget button{
    font-size: 11px!important;
}

.title-page{
    align-content: center; margin: 0 auto; text-align: center; vertical-align: middle
}

.center-button{
    align-content: center; margin: 0 auto; text-align: right; vertical-align: middle
}

.ui-datatable thead th,
.ui-datatable tfoot td {
    text-align: left!important;
    background: #EEEEEE !important;
}


.ui-datatable thead th,
.ui-datatable tbody,
.ui-datatable tbody tr,
.ui-datatable tbody td {
    border-style: none none ridge none!important;
    border-width: 2px!important;
}

.ui-paginator,
.ui-paginator-bottom,
.ui-widget-header,
.ui-corner-bottom{
    background: none!important;
    border:none!important;
}

.form-control{
    font-size: 12px;
}

.text-lbl-ltr{
    text-align:left!important; direction: ltr!important;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 0px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-sm, .btn-group-sm > .btn {
    border-radius: 5px;
    font-size: 11px!important;
    line-height: 1.5;
    padding: 0px 10px;
    min-width: 62px!important;
    font-weight: lighter;
}

.col-6-po{
    width: 42%!important;
}
.col-7-po{
    width: 57%!important;
}

.col-4-poi{
 width: 27%!important;
}
.col-3-poi-lbl{
    width: 20%!important;
}

.view-po{
    background-color: transparent!important;
}


.fq-sub-header{
    padding-left:15px!important;
}

.fq-form-table{
    padding-left:15px!important;
    padding-right: 15px!important;
}

.fq-section-row{
    padding-left:15px!important;
    padding-right: 15px!important;
}

.ui-datatable thead th,
.ui-datatable tbody td,
.ui-datatable tfoot td {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.ui-column-title{
    width: 15px!important;
}

/* Small devices (celular, 768px and up) */
@media only screen and (max-width: 768px) {

}
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container-fluid {
        width: 1286px!important;
        min-height: 640px;
    }

    .footer.footer-tmp{
        top: 50px;
    }
}

@media only screen and (min-width: 1600px) {
    .container-fluid {
        width: 1400px!important;
    }

    .footer.footer-tmp{
        top: 50px;
    }
}

@media only screen and (min-width: 1900px) {
    .container-fluid {
        width: 1800px!important;
    }

    .footer.footer-tmp{
        top: 50px;
    }
}
