
/*Panel header*/
.procurement-panel-header {
    margin-top: -12px!important;
    margin-left: 14px!important;
    font-size: 11pt!important;
    display: table!important;
    background-color: #eeeeee!important;
}

/*Styles to input type search*/

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

/*Input text type search*/
.input-search{
    border-radius: 15px!important;
}

/*Panel tab*/

.panel.panel-default.panel-tab{
    background-color: #EEEEEE;
    margin-top: 25px;
}

/*Panel tab users*/
.panel-tab-users{
    margin-top: 25px;
}